In [4]:
import pandas as pd
import numpy as np

# Create a DataFrame with custom data types
data = {
    'Product': pd.Series(['Laptop', 'Mouse', 'Keyboard', 'Monitor'], dtype='object'),
    'Quantity': pd.Series([1, 2, 1, 1], dtype='int16'),
    'Price': pd.Series([1200.50, 25.00, 75.99, 300.00], dtype='float32'),
    'InStock': pd.Series([True, True, False, True], dtype='bool'),
    'Rating': pd.Series([4.5, np.nan, 3.8, 5.0], dtype='float32') # Added a NaN for .isna() example
}
df = pd.DataFrame(data)

print("--- Initial DataFrame ---")
print(df)

--- Initial DataFrame ---
    Product  Quantity        Price  InStock  Rating
0    Laptop         1  1200.500000     True     4.5
1     Mouse         2    25.000000     True     NaN
2  Keyboard         1    75.989998    False     3.8
3   Monitor         1   300.000000     True     5.0

In [5]:
print("--- df.shape ---")
print(f"Shape (rows, columns): {df.shape}")

--- df.shape ---
Shape (rows, columns): (4, 5)

In [6]:
print("--- df.info() ---")
df.info()

--- df.info() ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   4 non-null      object
 1   Quantity  4 non-null      int16
 2   Price     4 non-null      float32
 3   InStock   4 non-null      bool
 4   Rating    3 non-null      float32
dtypes: bool(1), float32(2), int16(1), object(1)
memory usage: 208.0+ bytes

In [7]:
print("--- df.describe() ---")
print(df.describe())

--- df.describe() ---
       Quantity        Price    Rating
count      4.00     4.000000  3.000000
mean       1.25   400.372498  4.433333
std        0.50   546.628174  0.602771
min        1.00    25.000000  3.800000
25%        1.00    63.242498  4.150000
50%        1.00   187.994995  4.500000
75%        1.25   525.125000  4.750000
max        2.00  1200.500000  5.000000

In [10]:
print("--- df.head(2) (First 2 rows) ---")
print(df.head(2))

print("\n--- df.tail(1) (Last row) ---")
print(df.tail(1))

--- df.head(2) (First 2 rows) ---
  Product  Quantity   Price  InStock  Rating
0  Laptop         1  1200.5     True     4.5
1   Mouse         2    25.0     True     NaN

--- df.tail(1) (Last row) ---
   Product  Quantity  Price  InStock  Rating
3  Monitor         1  300.0     True     5.0

In [11]:
print("--- df.loc[row_label, column_label] ---")
print("Row with index 0, 'Product' column:", df.loc[0, 'Product'])
print("Rows where Quantity > 1:\n", df.loc[df['Quantity'] > 1])

--- df.loc[row_label, column_label] ---
Row with index 0, 'Product' column: Laptop
Rows where Quantity > 1:
   Product  Quantity  Price  InStock  Rating
1   Mouse         2   25.0     True     NaN

In [12]:
print("--- df.iloc[row_position, column_position] ---")
print("Value at row 1, column 0:", df.iloc[1, 0])
print("Rows 0-2, columns 1-3:\n", df.iloc[0:3, 1:4])

--- df.iloc[row_position, column_position] ---
Value at row 1, column 0: Mouse
Rows 0-2, columns 1-3:
    Quantity        Price  InStock
0         1  1200.500000     True
1         2    25.000000     True
2         1    75.989998    False

In [13]:
print("--- df.columns ---")
print("Column names:", df.columns.tolist())

--- df.columns ---
Column names: ['Product', 'Quantity', 'Price', 'InStock', 'Rating']

In [14]:
print("--- df.dtypes ---")
print(df.dtypes)

--- df.dtypes ---
Product      object
Quantity      int16
Price       float32
InStock        bool
Rating      float32
dtype: object

In [15]:
print("--- Adding a new row ---")
new_row = pd.DataFrame([['Webcam', 3, 50.00, True, 4.2]], columns=df.columns)
df = pd.concat([df, new_row], ignore_index=True)
print("DataFrame after adding new row:")
print(df)

--- Adding a new row ---
DataFrame after adding new row:
    Product  Quantity        Price  InStock  Rating
0    Laptop         1  1200.500000     True     4.5
1     Mouse         2    25.000000     True     NaN
2  Keyboard         1    75.989998    False     3.8
3   Monitor         1   300.000000     True     5.0
4    Webcam         3    50.000000     True     4.2

In [17]:
# Saving the DataFrame to a CSV file
file_path = '/content/sample_data/products_data.csv'
df.to_csv(file_path, index=False) # index=False prevents writing the DataFrame index as a column
print(f"DataFrame saved to '{file_path}' successfully.")

DataFrame saved to '/content/sample_data/products_data.csv' successfully.